/* .header {
  background-color: #c82424;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li a {
  color: rgb(182, 22, 22);
  text-decoration: underline;
} */
