.movieDetails {
  padding: 2cqmax;
}

.movieDetails img {
  max-width: 100%;
  height: auto;
}

.genres {
  margin-top: 20px;
}

.genres ul {
  list-style-type: none;
  padding: 0;
}

.genres li {
  display: inline-block;
  background-color: #d81010;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  color: rgb(237, 237, 242);
}

.links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.links a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
