/* .navBar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 20px;
}

Link {
  color: rgba(232, 31, 31, 0.549);
  gap: 10px;
  font-size: 18px;
}

Link {
  color: rgb(0, 0, 255);
} */
