.reviews {
  padding: 20px;
}

.reviews h3 {
  margin-bottom: 10px;
}

.reviews ul {
  list-style-type: none;
  padding: 0;
}

.reviews li {
  margin-bottom: 20px;
}

.reviews li h4 {
  margin: 0 0 5px 0;
}
